@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', Verdana, Tahoma, sans-serif;
    background-image: url(./images/background.jpg);
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.nav-link {
    font-weight: 600;
    color: black;
}

.nav-link.active {
    color: #dc3545;
}

.nav-link:hover {
    color: #dc3545;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.typing-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

#feature-text {    
    margin-left: 8px;
}
  
.input-cursor {
    display: inline-block;
    width: 2px;
    height: 30px;
    background-color: black;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

@keyframes blink {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

.btn-danger {
    color: black;
    font-weight: bold;
    border: 1px solid black;
    transition: transform 0.2s ease-in-out;
}

.btn-danger:hover {
    transform: scale(1.1);
}

.fab {
    font-size: 20px;
    color: black;
    transition: transform 0.2s ease-in-out;
}

#copyright {
    font-size: 18px;
}

.fab:hover {
    transform: scale(1.5);
}

.contact-card-container {
    display: flex;
    justify-content: center;
}

.contact-card-wrapper {
    border-radius: 8px;
    width: 40rem;
    padding: 50px 50px 20px 50px;
    background-color: #fefefe;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
}

input[type="submit"] {
    background-color: #dc3545;
    border: 1px solid gray;
}

#contact-number {
    display: flex;
    justify-content: center;
}

.about-me {
    font-size: 1.4rem;
}

.card {
    border: 1px solid black;
    padding: 30px 20px 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-radius: 5px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-title {
    font-weight: bold;
}
